<main class="about">
  <section class="about__img">
    <div class="about__flyer-title">
      <h1 class="first-sentence">NEVER MISS A GAME.</h1>
      <h1>BE A BAR SUPPORTER.</h1>
    </div>
  </section>
  <section class="about__info">
    <h1>About us</h1>
    <div class="about__article-wrapper about__article-wrapper__type-1">
      <img src="../../../assets/bulb.png" alt="Tercios app screenshot">
      <article>
        <h2>What is Tercios</h2>
        <p>Tercios is a mobile application that connects sports fans with the perfect venue to catch their favorite
          team in action. Our platform provides information on which matches the bars will be showing and will soon be
          scalable to other sports as well.</p>
      </article>
    </div>
    <div class="about__article-wrapper about__article-wrapper__type-2">
      <img src="../../../assets/bar-tv.png" alt="Bar with TVs">
      <article>
        <h2>Benefits for bars</h2>
        <p>By listing your venue on Tercios, you will be able to increase your customer base by reaching out to sports
          fans looking for the perfect place to watch their favorite team play. With our easy-to-use platform, you can
          update your listing with information on upcoming matches and promotions, and track the number of views your
          listing receives.</p>
      </article>
    </div>
    <div class="about__article-wrapper about__article-wrapper__type-1">
      <img src="../../../assets/expanding.png" alt="Growing user base">
      <article>
        <h2>Statistics</h2>
        <p>Tercios is growing at a rapid pace, with thousands of users already using the application to find their
          perfect sports watching venue. With a growing user base and a high retention rate, Tercios is the go-to
          choice for sports fans and businesses alike.</p>
      </article>
    </div>
  </section>
</main>

