<footer>
  <div class="social-media">
    <h3>Find us here:</h3>
    <a href="#" target="_blank"><img class="social-media-img" src="../../../assets/instagram.png" alt="instagram"></a>
    <a href="#" target="_blank"><img class="social-media-img" src="../../../assets/twitter.png" alt="twitter"></a>
    <a href="#" target="_blank"><img class="social-media-img" src="../../../assets/facebook.png" alt="facebook"></a>
    <a href="#"><img class="social-media-img" src="../../../assets/mail.png" alt="mail us"></a>
  </div>
  <div class="copyright-text">
    <p>Copyright &copy; 2021 &ndash; Tercios &trade;.</p>
     <p>All rights reserved.</p>
  </div>
</footer>
