.bg-image {
  height:48em;
  width:auto;
  background-image: url("../../../assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
// mobile
@media screen and (max-width: 600px) {
}
