<header>
  <a routerLink="/"><h1 class="logo">Tercios</h1></a>
  <nav>
    <a routerLink="/about">About</a>
    <a routerLink="/news">News</a>
    <a class="main-anchor">I'm a bar</a>
  </nav>
  <button #dropdownDiv (click)="toggleDropdown()" class="dropdown-button" *ngIf="screenWidth <= 600">
    <img src="../../../assets/menu-bar.png" alt="dropdown">
  </button>
  <div [ngClass]="dropdown ? 'showMenu' : 'doNotShowMenu'">
    <a routerLink="/about">About</a>
    <a routerLink="/news">News</a>
    <a class="main-anchor">I'm a bar</a>
  </div>
</header>
