<section class="features">
  <div class="features__element">
    <img class="features__img" src="../../../assets/map.png" alt="location">
    <h3>Select your city</h3>
    <p>Type in your location to see all available bars with TV nearby</p>
  </div>
  <div class="features__element">
    <img class="features__img" src="../../../assets/football.png" alt="football">
    <h3>Find your match</h3>
    <p>Type in your football team to see all available matches</p>
  </div>
  <div class="features__element">
    <img class="features__img" src="../../../assets/pint-of-beer.png" alt="beer">
    <h3>Choose a bar</h3>
    <p>Voilà!, check out all the bars that offer your game. Go watch it!</p>
  </div>
</section>
